*{
    /* background-color: gray; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    color: yellow;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: lowercase;
    text-decoration: line-through;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 10px;
}

h2{
    color: red;
}

.Selector > h1{
    color: pink;
}

#Selector2 > h2{
    color: violet;
}

.language > h1,
.language > h2,
.language > h3 {
    color: #ff6753;
    background-color: black;
}

.Spider{
    background-color: red;
    background-image: url(./Assets/spiderman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.boxModeling{
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding-left: 10px;
    padding-top: 50px; */
    padding: 20px 40px 60px 80px;
    /* border-top: 10px solid black;
    border-bottom: 10px solid forestgreen; */
    border: 20px solid black;
    /* margin-left: 100px;
    margin-top: 100px; */
    /* margin: 30px 50px 70px 90px; */
}

.box1{
    width: 200px;
    height: 100px;
    background-color: red;
    /* flex: 1; */
    order: 2;
}

.box2{
    width: 200px;
    height: 100px;
    background-color: blue;
    /* flex: 1; */
    order: 3;
}

.box3{
    width: 200px;
    height: 100px;
    background-color: green;
    /* flex: 1; */
    order: 1;
}

.box4{
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.box5{
    width: 200px;
    height: 100px;
    background-color: pink;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* height: 500px; */
    /* border: 2px solid black; */
    /* align-items: center; */
    /* gap: 20px; */
    /* flex-wrap: wrap; */
    /* align-content: space-between; */
}

.box6{
    width: 100px;
    height: 100px;
    background-color: darkblue;
}

.box7{
    width: 100px;
    height: 100px;
    background-color: darkgoldenrod;
}

.box8{
    width: 100px;
    height: 100px;
    background-color: darkgreen;
}

.box9{
    width: 100px;
    height: 100px;
    background-color: darkmagenta;
}

.box10{
    width: 100px;
    height: 100px;
    background-color: coral;
}
