*{
    /* background-color: gray; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    color: yellow;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: lowercase;
    text-decoration: line-through;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 10px;
}

h2{
    color: red;
}

.Selector > h1{
    color: pink;
}

#Selector2 > h2{
    color: violet;
}

.language > h1,
.language > h2,
.language > h3 {
    color: #ff6753;
    background-color: black;
}

.Spider{
    background-color: red;
    background-image: url(./Assets/spiderman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.boxModeling{
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding-left: 10px;
    padding-top: 50px; */
    padding: 20px 40px 60px 80px;
    /* border-top: 10px solid black;
    border-bottom: 10px solid forestgreen; */
    border: 20px solid black;
    /* margin-left: 100px;
    margin-top: 100px; */
    /* margin: 30px 50px 70px 90px; */
}