*{
    /* background-color: red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* 
h1{
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: lowercase;
    text-decoration: line-through;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 10px;
} */

/* h2{
    color: red;
} */

.Selector > h1{
    color: pink;
}

#Selector2 > h2{
    color: violet;
}

.language > h1,
.language > h2,
.language > h3 {
    color: #ff6753;
    background-color: black;
}

.Spider{
    background-color: red;
    background-image: url(./Assets/spiderman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.boxModeling{
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding-left: 10px;
    padding-top: 50px; */
    padding: 20px 40px 60px 80px;
    /* border-top: 10px solid black;
    border-bottom: 10px solid forestgreen; */
    border: 20px solid black;
    /* margin-left: 100px;
    margin-top: 100px; */
    /* margin: 30px 50px 70px 90px; */
}

.box1{
    width: 200px;
    height: 100px;
    background-color: red;
    /* flex: 1; */
    order: 2;
}

.box2{
    width: 200px;
    height: 100px;
    background-color: blue;
    /* flex: 1; */
    order: 3;
}

.box3{
    width: 200px;
    height: 100px;
    background-color: green;
    /* flex: 1; */
    order: 1;
}

.box4{
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.box5{
    width: 200px;
    height: 100px;
    background-color: pink;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* height: 500px; */
    /* border: 2px solid black; */
    /* align-items: center; */
    /* gap: 20px; */
    /* flex-wrap: wrap; */
    /* align-content: space-between; */
}

.box6{
    width: 100px;
    height: 100px;
    background-color: darkblue;
}

.box7{
    width: 100px;
    height: 100px;
    background-color: darkgoldenrod;
}

.box8{
    width: 100px;
    height: 100px;
    background-color: darkgreen;
}

.box9{
    width: 100px;
    height: 100px;
    background-color: darkmagenta;
}

.box10{
    width: 100px;
    height: 100px;
    background-color: coral;
}

/* h1{
    background-color: red;
} */

.bluebox{
    width: 300px;
    height: 300px;
    background-color: blue;
    margin-top: 50px;
    /* position: relative; //non-stactic */
    position: sticky;
    top: 0;
}

.yellowbox{
    width: 100px;
    height: 100px;
    background-color: yellow;
    /* position: relative;
    left: 20px;
    top: 50px; */

    /* top: 20px; */
}

.para{
    padding: 20px;
    background-color: slateblue;
    color: white;
}

.Container{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px,1fr));

}

.items{
    background-color: green;
    color: white;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.outerbox{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    grid-auto-flow: row;
}

.item1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1/4; */
    grid-column: span 3;
}

.item2{
    grid-row: span 3;
}

.layout > div{
    background-color: #ebabac;
    border: 1px solid black;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10vh 80vh 10vh; 
    grid-template-areas: 
    "h h h h"
    "sb1 m m sb2"
    "f f f f";
}

.haeder{
    grid-area: h;
}

.sidebar1{
    grid-area: sb1;
}

.sidebar2{
    grid-area: sb2;
}

.main{
    grid-area: m;
}

.footer{
    grid-area: f;
}

.square{
    width: 200px;
    height: 200px;
    background-color: violet;

}

.square:hover{
    width: 400px;
    background-color: black;
    transition-duration: 3s;
    /* transition-property: background-color; */
    transition-timing-function: cubic-bezier(1,-0.71, 0.12, 0.79);
    transform: translateY(20px);
}

.square2{
    width: 100px;
    height: 100px;
    background-color: coral;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes circle {
    25%{
        width: 150px;
        height: 150px;
        background-color: aqua;
        left: 5px;
        top: 5px;
    }
    50%{
        width: 200px;
        height: 200px;
        background-color: black;
        left: 10px;
        top: 10px;
    }
    75%{
        width: 300px;
        height: 300px;
        background-color: gold;
        left: 20px;
        top: 20px;
    }
    100%{
        width: 400px;
        height: 400px;
        background-color: blue;
        top: 30px;
        left: 30px;
    }
}

@media screen and (max-width: 801px) {
    h1{
        color: greenyellow;
        background-color: black;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    h2{
        color: hotpink;
        background-color: gray;
        text-align: center;
        font-size: 50px;
    }
}

@media screen and (max-width: 375px) {
    p{
        color: darkred;
        background-color: black;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: underline;
        text-transform: capitalize;
        /* width: 70%; */
    }
}