*{
    background-color: gray;
}

h1{
    color: yellow;
}

h2{
    color: red;
}

.Selector > h1{
    color: pink;
}

#Selector2 > h2{
    color: violet;
}

.language > h1,
.language > h2,
.language > h3 {
    color: #ff6753;
    background-color: black;
}

.Spider{
    background-color: red;
    background-image: url(./Assets/spiderman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}